html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em,
font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
  }
	a{text-decoration: none;}
	html, body {height:100%;}
  body {line-height: 1;overflow: hidden;}
  ol, ul {list-style: none;}
  blockquote, q {quotes: none;}
  blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
  table {border-collapse: collapse;border-spacing: 0;} /
  textarea {overflow:auto;}
body{ background:url(../images/head_image.jpg) ;background-repeat:no-repeat;
	 background-position: center center; background-attachment: fixed;
	 background-size: cover;}

.navbar{width:auto	;height:6%;background-color: rgb(0, 0, 0);}	 
.lgnbtn{width:90px;height:5%;background-color: #60F;position:absolute;left: 94%;top: 0.5%;transform: translate(-2% , auto);border-radius: 12%;border: none;font-size: 25pt;font: rgb(255, 255, 255);}
/*.background{background-color: black ;opacity: 0.8;attachment: fixed; size:cover;height: inherit;} */
.conteiner_01{width: 750px; height:auto;position: absolute;top:50%;left:50%;transform: translate(-50% , -50%);}

.box_01{width: 700px ; height: 50px; padding:3px; margin:0px  auto 45px auto;border-radius: 4px ;
	background-color: #ff0;text-align: center;opacity: 0.7 ;float: center;font-size:26pt;
	background-color: #3FF; color:#60F;transition: all 0.5s; font:  ;align-items: center;}

.box_01:hover{font-size:25pt;width:660px; height:44px;background-color:#63F; color:#FFF;}

.box_02{;width: 700px ; height: 50px; padding:3px;margin:0px  auto 45px auto;border-radius: 4px ;
	background-color: #ff0;text-align: center;opacity: 0.7 ;float: center;font-size:30pt;
	background-color: #3FF; color:#60F;transition: all 0.5s; font:  ; }

.box_02:hover{font-size:25pt;width:660px; height:44px;background-color:#63F; color:#FFF;}

.box_03{width: 700px ; height: 50px; padding:3px;margin:0px  auto 45px auto;border-radius: 4px ;
	background-color: #ff0;text-align: center;opacity: 0.7 ;float: center;font-size:30pt;
	background-color: #3FF; color:#60F;transition: all 0.5s; font:  ; }

.box_03:hover{font-size:25pt;width:660px; height:44px;background-color:#63F; color:#FFF;}

.box_04{width: 700px ; height: 50px; padding:3px; margin:0px  auto 45px auto;border-radius: 4px ;
	background-color: #ff0;text-align: center;opacity: 0.7 ;float: center;font-size:30pt;
	background-color: #3FF; color:#60F;transition: all 0.5s; font:  ; }

.box_04:hover{font-size:25pt;width:660px; height:44px;background-color:#63F; color:#FFF;}

.box_05{width: 700px ; height: 50px; padding:3px; margin:0px  auto 45px auto;border-radius: 4px ;
	background-color: #ff0;text-align: center;opacity: 0.7 ;float: center;font-size:30pt;
	background-color: #3FF; color:#60F;transition: all 0.5s; font:  ;}

.box_05:hover{font-size:25pt;width:660px; height:44px;background-color:#63F; color:#FFF;}
.button_tr {
	background-image:url(../images/tr.png);background-size: cover; 	border: none;color: white;	border-radius: 13%;
	width: 50px;height: 33px;
	text-align: center;	font-size: 16px;opacity: 0.7	;
	transition: 0.3s;	display: inline-block;	text-decoration: none;	cursor: pointer;}
.button_tr:hover {opacity: 1}
.button_en {
	background-image:url(../images/en.png);background-size: cover;border: none;color: white;border-radius: 13%;	
	width: 50px;height: 33px;	text-align: center;	font-size: 16px;	opacity: 0.7;
	transition: 0.3s;	display: inline-block;	text-decoration: none;	cursor: pointer;}
.button_en:hover {opacity: 1}